<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
    <div class="header">
        <button class="btn"><i class="fa fa-home"></i> <a asp-area="" asp-page="/Index">Guldtand</a></button>
        <form style="float: right; display: inline-block;">
            <div class="UserBtn">
                <button class="Login" type="button">Login</button>
                <button class="Create_user" type="button">Opret bruger</button>
                <button class="MyPage" type="button"><a asp-area="" asp-page="/UserPage">Min Side</a></button>
            </div>
        </form>
        <br style="clear:both" />
        <form style="float: left; display: inline-block;">
            <div class="SearchBar">
                <input style="height: 32px; width: 704px;" type="text" placeholder="Search..." required>
            </div>
        </form>
        <form style="float: left; display: inline-block;">
            <div class="SearchBarBtn">
                <button style="height: 32px;" type="button">Søg opskrift</button>
                <button style="height: 32px;" type="button">Søg ingrediens</button>
            </div>
        </form>
        <br style="clear:both" />

        <div class="Buttons2">
            <button class="btn_Top" type="button"><a asp-area="" asp-page="/TopPicks">Top Retter</a></button>
            <button class="btn_New" type="button"><a asp-area="" asp-page="/NewRecipe"> Nye retter</a></button>
            <button class="btn_Su" type="button"><a asp-area="" asp-page="/SuRecipe"> SU-retter</a></button>
            <button class="btn_Vegi" type="button"><a asp-area="" asp-page="/Vegi">Vegetar retter</a></button>
            <button class="btn_Classic" type="button"><a asp-area="" asp-page="/ClassicRecipe">Klassiske retter</a></button>
            <button class="btn_Store" type="button"><a asp-area="" asp-page="/Store">Vælg Butik</a></button>

        </div>

        <br style="clear:both" />

        <sidebar class="sidenav">
            <form style="float: right; display: inline-block;">
                <ul>
                    <li>
                        <input type="checkbox" id="cb1" />
                        <label for="cb1"><img src="/Pic/Netto.png" /></label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb2" />
                        <label for="cb2"><img src="/Pic/Foetex.png" /></label>
                    </li>
                    <br>
                    <li>
                        <input type="checkbox" id="cb3" />
                        <label for="cb3"><img src="/Pic/Rema.jpg" /></label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb4" />
                        <label for="cb4"><img src="/Pic/Fakta.png" /></label>
                    </li>
                </ul>
            </form>
            <br style="clear:both" />

            <form style="float: right; display: inline-block;">
                <div class="antalPersoner">
                    <select>
                        <option value="0">Antal Personer:</option>
                        <option value="1">1 Person</option>
                        <option value="2">2 Person</option>
                        <option value="3">3 Person</option>
                        <option value="4">4 Person</option>
                        <option value="5">5 Person</option>
                        <option value="6">6 Person</option>
                        <option value="7">7 Person</option>
                        <option value="8">8 Person</option>
                        <option value="9">9 Person</option>
                        <option value="10">10 Person</option>

                    </select>
                </div>
            </form>

            <form style="float: left; display: inline-block;">
                

                <div class="CheckboxDishes">
                    <br style="clear: both"/>
                    <input class="cbox" type="checkbox" id="dish1">
                    <label for="dish1">Pasta</label>
                    <br style="clear: both"/>
                    <input class="cbox" type="checkbox" id="dish2">
                    <label for="dish2">Ris</label>
                    <br style="clear: both"/>
                    <input class="cbox" type="checkbox" id="dish3">
                    <label for="dish3">Oksekød</label>
                    <br style="clear: both"/>
                    <input class="cbox" type="checkbox" id="dish4">
                    <label for="dish4">Svinekød</label>
                </div>
            </form>
        </sidebar>

</header>








<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>





<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Kontakt</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</html>
