@page
@model Vegi
@{
    ViewData["Title"] = "Vegetar retter";
}

<br style="clear:both" />

<body class="body_class">

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

</body>